<section class="home" id="home">

  <div id="particles-js"></div>
  <div class="content">
    <h2>Hi There,<br /> I'm Yash <span>Arora</span></h2>
    <p>i am into <span class="typing-text" #typedElement></span></p>
    <a href="#about" class="btn"><span>About Me</span><i class="fas fa-arrow-circle-down"></i></a>
    <div class="socials">
      <ul class="social-icons">
        <li><a class="linkedin" href="{{user.linkedIn}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="github" href="{{user.github}}" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a class="envelope" href="mailto:{{user.email}}" target="_blank"><i class="fas fa-envelope"></i></a></li>
        <li><a class="twitter" href="{{user.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="image">
    <img draggable="false" class="tilt" src="assets/images/aj1.png" alt="Yash arora">
  </div>
</section>
