<section class="work" id="work">
  <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Completed</span></h2>
  <div class="box-container">
    <div class="box tilt" *ngFor="let project of myProjects">
      <img draggable="false" src="/assets/images/projects/{{project.image}}.png" alt="project" />
      <div class="content">
        <div class="tag">
        <h3>{{project.name}}</h3>
        </div>
        <div class="desc">
          <p>{{project.desc}}</p>
          <div class="btns">
            <a href="{{project.links.view}}" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a href="{{project.links.code}}" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="viewall">
    <a href="/projects" class="btn"><span>View All</span><i class="fas fa-arrow-right"></i></a>
  </div>
</section>
