<router-outlet>
<!-- Navbar -->
 <app-navbar></app-navbar>


<!-- Home Section -->
<app-home></app-home>

<!-- About Section -->
<app-about></app-about>

<!-- Skills Section -->
<app-skills></app-skills>

<!-- Education Section -->
<app-education></app-education>

<!-- Work Section -->
<app-work></app-work>

<!-- Experience Section -->
<app-experience></app-experience>

<!-- Contact Section -->
<app-contact></app-contact>

<!-- Footer -->
<app-footer></app-footer>

<a href="#home" class="fas fa-angle-up" id="scroll-top" aria-label="ScrollTop"></a>

</router-outlet>

